/* You can add global styles to this file, and also import other style files */
:root {
    --main-bg-color: #dee0df;
    --sub-bg-color: white;
}
body {
    background-color: var(--main-bg-color);
}

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
    font-display: swap;
}